#### Read from file (Removed sensitive data)

In [30]:
# The code was removed by Watson Studio for sharing.

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### import libraries

In [21]:
import pandas as pd
import numpy as np

#### Load html table

In [22]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data = pd.read_html(url,header=0)

In [23]:
len(data)

3

#### get the first table into data frame

In [24]:
df2= data[0]
df2.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

####  Ignore cells with a Borough that is Not assigned

In [25]:
df2 = df2[df2.Borough != 'Not assigned']
df2.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

#### If  Neighbourhood is  Not assigned then replace it with Borough

In [26]:
df2['Neighbourhood'] = np.where(df2['Neighbourhood'] == 'Not assigned', df2['Borough'], df2['Neighbourhood'])
df2.head(10)

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

#### Combine row into one  with the neighborhoods separated with a comma

In [27]:
df2 = df2.sort_values(by=['Postcode', 'Borough']).groupby('Postcode').aggregate({'Borough':'first','Neighbourhood': ', '.join}).reset_index()
df2.head(10)

  Postcode                                    Neighbourhood      Borough
0      M1B                                   Rouge, Malvern  Scarborough
1      M1C           Highland Creek, Rouge Hill, Port Union  Scarborough
2      M1E                Guildwood, Morningside, West Hill  Scarborough
3      M1G                                           Woburn  Scarborough
4      M1H                                        Cedarbrae  Scarborough
5      M1J                              Scarborough Village  Scarborough
6      M1K      East Birchmount Park, Ionview, Kennedy Park  Scarborough
7      M1L                  Clairlea, Golden Mile, Oakridge  Scarborough
8      M1M  Cliffcrest, Cliffside, Scarborough Village West  Scarborough
9      M1N                      Birch Cliff, Cliffside West  Scarborough

In [28]:
df2.shape

(103, 3)

In [29]:
df = pd.merge(df2, df1, on='Postcode')
df.head(20)

,Postcode,Neighbourhood,Borough,Latitude,Longitude
0,M1B,"Rouge, Malvern",Scarborough,43.806686,-79.194353
1,M1C,"Highland Creek, Rouge Hill, Port Union",Scarborough,43.784535,-79.160497
2,M1E,"Guildwood, Morningside, West Hill",Scarborough,43.763573,-79.188711
3,M1G,Woburn,Scarborough,43.770992,-79.216917
4,M1H,Cedarbrae,Scarborough,43.773136,-79.239476
5,M1J,Scarborough Village,Scarborough,43.744734,-79.239476
6,M1K,"East Birchmount Park, Ionview, Kennedy Park",Scarborough,43.727929,-79.262029
7,M1L,"Clairlea, Golden Mile, Oakridge",Scarborough,43.711112,-79.284577
8,M1M,"Cliffcrest, Cliffside, Scarborough Village West",Scarborough,43.716316,-79.239476
9,M1N,"Birch Cliff, Cliffside West",Scarborough,43.692657,-79.264848
10,M1P,"Dorset Park, Scarborough Town Centre, Wexford ...",Scarborough,43.757410,-79.273304
11,M1R,"Maryvale, Wexford",Scarborough,43.750072,-79.295849
12,M1S,Agincourt,Scarborough,43.794200,-79.262029
13,M1T,"Clarks Corners, Sullivan, Tam O'Shanter",Scarborough,43.781638,-79.304302
14,M1V,"Agincourt North, L'Amoreaux East, Milliken, St...",Scarborough,43.815252,-79.284577
15,M1W,L'Amoreaux West,Scarborough,43.799525,-79.318389
16,M1X,Upper Rouge,Scarborough,43.836125,-79.205636
17,M2H,Hillcrest Village,North York,43.803762,-79.363452
18,M2J,"Fairview, Henry Farm, Oriole",North York,43.778517,-79.346556
19,M2K,Bayview Village,North York,43.786947,-79.385975